
.flip-list-move {
    transition: transform 0.5s;
  }
  .leftsidebar {
    width: 300px;
    overflow-y: scroll;
    padding: 1rem;
    .list-group {
      padding: 0;
      list-style-type: none;
      margin-top: 1rem;
  
      .list-group-item {
        cursor: move;
        padding: 0.5rem 5px;
        border: thin solid rgba(255, 255, 255, 0.34);
        &:not(:first-child) {
          border-top-color: rgba(255, 255, 255, 0.17);
          margin-top: -1px;
        }
      }
    }
  }

  .topbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem 1rem;
    margin-bottom: 5px;
    border-bottom: thin solid rgba(255, 255, 255, 0.17);
  }

  .liveview-contain {
    .liveview-loop {
      padding: 5px;
      .liveview-box {
        width: 100%;
        .liveviewcanvas {
          width: 100%;
          min-width: 244px;
          margin: 10px;
          border: thin solid rgba(255, 255, 255, 0.17);
        }
        .liveviewinfo {
          font-size: .75rem;
        }
      }
    }
  }